
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
  }
  
  body {
    background-color: #EFEEF3;
  }
  
 
  header {
    display: flex; 
    align-items: center; 
    padding: 10px 20px;
    
  }
  
  
  .logo {
    height: 50px; 
    margin-right: 20px; 
    
  }
  
  
  nav {
    display: flex;
    
  }
  
  nav ul {
    display: flex;
    list-style: none;
    
    
  }
  
  nav ul li {
    margin-left: 115px;
    cursor: pointer;
    
  }
  
  nav ul li:hover {
    padding: 5px;
    border-radius: 10px;
  }
  
  
  .background {
    width: 100%; 
    height: 300px;
    object-fit: cover; 
    display: block; 
    margin-top: 20px; 
  }
  
  
.primeiraSessao {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
    margin: 20px 0;
    padding: 0 20px; 
  }
  
  .primeiraSessao img {
    width: 30%; 
    left: 60%;
    margin: 2% 6%

    
  }
  
  .primeiraSessao div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 55%; 
  }
  
  .primeiraSessao h1 {
    margin-top: 5%;
    margin-bottom: 60%; 
    text-align: left; 
    position: absolute;
    left: 60%;
  }
  
  .primeiraSessao p {
    text-align: left; 
    max-width: 25%; 
    line-height: 1.6; 
    font-size: 15px; 
    margin-top: 0; 
    margin-bottom: 10px;
    position: absolute;
    left: 60%;
    bottom: 6%;
  }
  
  
  .segundaSessao {
    display: flex; 
    align-items: flex-start;
    justify-content: space-between; 
    padding: 20px; 
  }
  
  .segundaSessao .conteudo {
    display: flex; 
    align-items: flex-start; 
  }
  
  .segundaSessao h2 {
    width: 38vw; 
    left: 90%;
    margin: 10% 17%;  
  }
  
  .imagemEsquerda1 {
    margin-top: 5%;
    margin-bottom: 60%; 
    text-align: left; 
    position: absolute;
    left: 60%;
    height: auto;
  }

  .imagemEsquerda2 {
    margin-top: 5%;
    margin-bottom: 60%;
    text-align: left; 
    position: absolute;
    left: 70%;
    height: auto;
    
  }
  
  .imagemEsquerda3 {
    margin-top: 5%;
    margin-bottom: 60%; 
    text-align: left;
    position: absolute;
    left: 82%;
    height: auto;

  }
  
  .imagemEsquerda4 {
    margin-top: 5%;
    margin-bottom: 60%;
    text-align: left;
    position: absolute;
    left: 90%;
    height: auto;

  }
  
  .segundaSessao img:first-child {
    margin-left: 0;
  }
